<html>
  <head>
    <title>Game List</title>
  </head>
  <body>
    <div class="nav-bar">
      <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/modify-list-item">Modify List</a></li>
        </ul>
      </nav>
    </div>
    <!--
    <header>List of Games:</header>
    <div *ngFor="let game of gameList">
      {{ game.name }}
      ${{ game.price }}
      {{ game.releaseDate }}
      {{ game.developer }}
      {{ game.publisher }}
    </div>
    <br>
    <header>List of games under $50:</header>
    <div *ngFor="let game of gameList">
      <div *ngIf="game.price<=50">
        {{ game.name }}
        ${{ game.price }}
        {{ game.releaseDate }}
        {{ game.developer }}
        {{ game.publisher }}
      </div>
    </div>
    -->
    <div class="app-container">
      <router-outlet></router-outlet>
    </div>
  </body>
</html>
